@tailwind base;
@tailwind components;
@tailwind utilities;

@import "style/color";
@import "style/mapBox";

a {
  text-decoration: none;
  color: #000
}

.col {
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}