$fgDefault: #0E1117;
$fgSoft: #617398;
$fgMuted: #A3AEC5;
$fgDisabled: #44537180;

$bgSurface1: #FFFFFF;
$bgSurface2: #F9FAFB;
$bgSurface3: #F6F6F8;
$bgSurface4: #ECEEF1;
$bgSurface5: #D0D4DC;

$borderDefault: #44537180;
$borderSoft: #44537140;
$borderMuted: #44537126;

$accentDefault: #0B5D1E;
$accentSoft: #3C7D4B;
$accentMuted: #85AE8F;
$accentHover: #094F1A;
$accentActive: #084115;
$accentOnAccent: #FFFFFF;
$accentContainerDefault: #0B5D1E1A;
$accentContainerSoft: #0B5D1E0D;
$accentContainerMuted: #0B5D1E08;
$accentContainerHover: #0B5D1E33;
$accentContainerActive: #0B5D1E4D;
$accentOnContainer: #0B5D1E;

$successDefault: #019F3C;
$successSoft: #34B263;
$successMuted: #80CF9E;
$successHover: #018733;
$successActive: #016F2A;
$successOnSuccess: #FFFFFF;
$successContainerDefault: #019F3C1A;
$successContainerSoft: #019F3C0D;
$successContainerMuted: #019F3C08;
$successContainerHover: #019F3C33;
$successContainerActive: #019F3C4D;
$successOnContainer: #019F3C;

$warningDefault: #F29100;
$warningSoft: #F5A733;
$warningMuted: #F9C880;
$warningHover: #CE7B00;
$warningActive: #A96500;
$warningOnWarning: #301D00;
$warningContainerDefault: #F291001A;
$warningContainerSoft: #F291000D;
$warningContainerMuted: #F2910008;
$warningContainerHover: #F2910033;
$warningContainerActive: #F291004D;
$warningOnContainer: #CE7B00;

$errorDefault: #D91528;
$errorSoft: #E14453;
$errorMuted: #EC8A93;
$errorHover: #B81222;
$errorActive: #980F1C;
$errorOnError: #FFFFFF;
$errorContainerDefault: #D915281A;
$errorContainerSoft: #D915280D;
$errorContainerMuted: #D9152808;
$errorContainerHover: #D9152833;
$errorContainerActive: #D915284D;
$errorOnContainer: #D91528;

$infoDefault: #1998FF;
$infoSoft: #47ADFF;
$infoMuted: #8CCBFF;
$infoHover: #1581D9;
$infoActive: #116AB3;
$infoOnInfo: #FFFFFF;
$infoContainerDefault: #1998FF1A;
$infoContainerSoft: #1998FF0D;
$infoContainerMuted: #1998FF08;
$infoContainerHover: #1998FF33;
$infoContainerActive: #1998FF4D;
$infoOnContainer: #1998FF;

$iconDefault: #0E1117;
$iconSoft: #617398;
$iconMuted: #A3AEC5;
$iconDisabled: #44537180;
$iconAccent: #0B5D1E;
$iconOnAccent: #FFFFFF;