.cluster-marker {
    color: #fff;
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .place-marker {
    background: none;
    border: none;
  }
  
  .place-marker img {
    width: 25px;
  }

  input {
    border: black solid 1px;
    margin: 5px;  
  }

 